.admin-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    justify-content: center;
}

.admin-dashboard-lists {
    display: flex;
    gap: 10px;
}

.admin-users-category, .admin-entreprises-category {
    width: 100%;
}

.admin-users-category > * , .admin-entreprises-category > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.admin-users-category > * > *, .admin-entreprises-category > * > * {
    height: min-content;
    padding: 20px;
    max-width: none;
}