:root {
    /* Palette thème océan - clair */
    --sand-color: #e9d59b;
    --dark-blue: #151E3D;
    --primary-blue: #5c8eeb;
    --light-blue: #b6e7f7;

    --dark-silver: #d9d9d9;
    --light-silver: #f1f1f1;
}

/*#region search.html*/
.content-search-page{
    height: calc(100vh - 80px);
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    font-family: "Inter";
    font-weight: bold;
    gap: 16px;
}

.stage-search-box{
    width: 70%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.search-box-label-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

.search-container input {
    padding: 8px;
    padding-left: 16px;
    padding-right: 60px;
}
.carte{
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}


#map{
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-height: 0;
    z-index: 0;
    margin: 0;
    border-radius: 8px;
    overflow: hidden;
}

.carte button{
    background-color: var(--primary-blue);
    color: white;
    cursor: pointer;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;

    font-family: "Inter";
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 160px;

    z-index: 10;
}


.search-stage-result-box{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    overflow-y: scroll;
    gap: 16px;
}

.card-stage{
    text-align: left;
    text-decoration: none;
    color: black;
    background-color: var(--light-silver);
    border-radius: 20px;
}
.card-stage-header{
    background-color: var(--sand-color);
    padding: 20px;
    border-radius: 20px 20px 0 0;
    font-size: 20px;
}
.card-stage-content{
    margin: 20px;
    font-weight: 400;
}
.card-stage-entreprise{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
}
.card-stage-description{
    font-size: 11px;
    text-align: justify;
    height: 100%;
}


@media (max-width: 1000px) {
    .content-search-page{
        flex-direction: column;
        align-items: stretch;
        height: auto;
        padding-left: 0;
        padding: 20px;
    }

    .stage-search-box{
        width: 100%;
        max-width: none;
    }

    .carte{
        height: 40vh;
    }

    #map{
        height: 100%;
    }
    .search-stage-result-box{
        align-items: center;
        padding: 0;
    }


    .card-stage{
    }
    .card-stage-header{
    }
    .card-stage-content{

    }
    .card-stage-entreprise{
    }
}

.tag-box{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.tag{
    margin: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: var(--light-silver);
    border-radius: 8px;
}
.tag p{
    font-weight: 300;
    font-size: 11px;
    margin: 0;
}
.tag button{
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

/* cacher le checkbox */
.toggle-checkbox-card-stage {
    display: none;
}

.texte-description-card-stage {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* nombre de lignes visibles */
    -webkit-box-orient: vertical;
    transition: 0.3s ease;
}

.toggle-checkbox-card-stage:checked ~ .texte-description-card-stage {
    -webkit-line-clamp: unset;
}

/* bouton */
.toggle-btn-card-stage {
    cursor: pointer;
    color: var(--primary-blue);
    font-weight: bold;
    margin-top: 6px;
    display: inline-block;
}

/* texte du bouton */
.toggle-btn-card-stage::after {
    content: "Afficher plus";
}

.toggle-checkbox-card-stage:checked + .texte-description-card-stage + .toggle-btn-card-stage::after {
    content: "Afficher moins";
}