:root {
    /* Palette thème océan - clair */
    --sand-color: #e9d59b;
    --dark-blue: #151E3D;
    --primary-blue: #5c8eeb;
    --light-blue: #b6e7f7;

    --dark-silver: #d9d9d9;
    --light-silver: #f1f1f1;
}

/*#region search.html*/
.content-search-page{
    height: calc(100vh - 80px);
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    font-family: "Inter";
    font-weight: bold;
    gap: 16px;
}

.stage-search-box{
    width: 70%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.search-box-label-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.carte{
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}


#map{
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-height: 0;
    z-index: 0;
    margin: 0;
    border-radius: 8px;
    overflow: hidden;
}

.carte button{
    background-color: var(--primary-blue);
    color: white;
    cursor: pointer;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;

    font-family: "Inter";
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 160px;

    z-index: 10;
}


.search-stage-result-box{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    overflow-y: scroll;
    gap: 16px;
}

.card-stage{
    text-align: left;
    text-decoration: none;
    color: black;
    background-color: var(--light-silver);
    max-height: 400px;
    border-radius: 20px;
}
.card-stage-header{
    background-color: var(--sand-color);
    padding: 20px;
    border-radius: 20px 20px 0 0;
    font-size: 30px;
}
.card-stage-content{
    margin: 20px;
    font-weight: 400;
    overflow: hidden;
    max-height: 160px;
}
.card-stage-entreprise{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
}
.card-stage-description{
    text-align: justify;
    height: 100%;
}


@media (max-width: 1000px) {
    .content-search-page{
        flex-direction: column;
        align-items: stretch;
        height: auto;
        padding-left: 0;
        padding: 20px;
    }

    .stage-search-box{
        width: 100%;
        max-width: none;
    }

    .carte{
        height: 40vh;
    }

    #map{
        height: 100%;
    }
    .search-stage-result-box{
        align-items: center;
        padding: 0;
    }


    .card-stage{
    }
    .card-stage-header{
    }
    .card-stage-content{

    }
    .card-stage-entreprise{
    }
}

.tag-box{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.tag{
    margin: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: var(--light-silver);
    border-radius: 8px;
}
.tag p{
    font-weight: 300;
    font-size: 11px;
    margin: 0;
}
.tag button{
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}