:root {
    /* Palette thème océan - clair */
    --sand-color: #e9d59b;
    --dark-blue: #1a203a;
    --primary-blue: #5c8eeb;
    --light-blue: #b6e7f7;

    --dark-silver: #d9d9d9;
    --light-silver: #f1f1f1;
}

body {
    padding: 0;
    margin: 0;
    font-family:"Inter", sans-serif;
}

/*#region header*/
header{
    background-color: var(--dark-blue);
    color: white;
    font-family: "Jersey 25", sans-serif;
}

header a{
    color: white;
    text-decoration: none;
}

header nav{
    padding: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 40px;
}

.header-links{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: min-content;
    width: 100%;
}

.account-div{
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.signup{
    background-color: var(--primary-blue);
    width: min-content;
    padding: 15px;
    height: 45px;
    border-radius: 15px;
    margin: 7px;
    height: min-content;
    white-space: nowrap;
}

.login{
    margin: 7px;
    text-decoration: underline;
    white-space: nowrap;
}

.burger-header::before{
    background-color: red;
}

.burger-header::after{
    background-color: blue;
}

.header-burger-input {
    display: none;
}

@media (max-width: 600px) {

    .header-links {
        display: none;
    }

    .header-burger-input{
        z-index: 5;
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        transform: translateX(-220px);
    }


    header nav ul li{
        margin: 7px 0;
    }

    /* Le burger */
    .burger {
        z-index: 5;
        width: 30px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .burger span {
        display: block;
        height: 4px;
        background: white;
        border-radius: 4px;
        transition: 0.3s;
    }

    /* Animation X quand la checkbox est cochée */
    .header-burger-input:checked + .burger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .header-burger-input:checked + .burger span:nth-child(2) {
        opacity: 0;
    }

    .header-burger-input:checked + .burger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    /* Affichage du menu quand checked */
    .header-burger-input:checked ~ .header-links {
        display: flex;
        position:absolute;
        background-color: var(--dark-blue);
        left: 0;
        top: 0;
        margin: 0;
        flex-direction: column;
        list-style: disc;
        width: 50%;
        height: 400px;
        max-width: 200px;
        padding: 7px;
        align-items: center;
    }
}

/*#endregion header*/
