 <h3>Crée une offre :</h3>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""
/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin="">
</script>

<form class="offre-form" method="POST" action="/entreprise_dashboard/create_offre">
    <div class="form-group">
        <label>Titre</label>
        <input type="text" name="titre" placeholder="Entrez un titre ici" required>
    </div>

    <div class="form-group">
        <label>Description des cartes</label>
        <textarea name="description_carte" placeholder="Entrez un petite description de l'offre" required></textarea>
    </div>

    <div class="form-group">
        <label>Description du stage (markdown)</label>
        <textarea name="description_offre_de_stage" placeholder="Ecrivez votre description ici ..." required></textarea>
    </div>
    <div class="form-group">
        <label>Cochez les compétences de l'offre :</label>

        <div class="competences-grid">

        {% for competence in all_competences%}
            <label><input type="checkbox" name="competences[]" value="{{competence.id_competence}}">{{competence.nom}}</label>
        {% else %}
        <p>NO DATA FOUND</p>
        {% endfor %}
        </div>
    </div>

    <div class="localisation-form-group">
        <div class="form-group">
            <label>localisation :</label>
            <input type="hidden" id="lat" name="lat" value="" required>
            <input type="hidden" id="lng" name="lng" value="" required>
            <label for="ville">Ville</label>
            <select name="ville" id="ville" required>
                <option value="">Sélectionnez une ville</option>
                {% for ville in all_villes %}
                    <option
                        value="{{ ville.id_ville }}"
                        data-lat="{{ ville.lat }}"
                        data-lng="{{ ville.lng }}"
                    >
                        {{ ville.nom }}
                    </option>
                {% else %}
                    <option disabled>Aucune ville disponible</option>
                {% endfor %}
            </select>

            <div class="localisation-mode">
                <label>
                    <input type="checkbox" id="utiliser_carte" class="test" name="utiliser_carte" value="1">
                    Sélectionner sur la carte
                </label>
            </div>

            <div id="map" style="min-height: 200px;width: 100%;"></div>
        </div>
    </div>

    <div class="form-group">
        <label>Rémunération</label>
        <input type="number"  min="0" max="99999" name="remuneration_par_mois" placeholder="Entrez la rémuneration par mois ici" required>
    </div>

    <div class="dates-row">
        <div class="form-group">
            <label>Date début</label>
            <input type="date" name="date_debut" required>
        </div>

        <div class="form-group">
            <label>Date fin</label>
            <input type="date" name="date_fin" required>
        </div>
    </div>

    <button class="save-btn">Enregistrer</button>

    <script src="/scripts/offre_localisation_offre_form.js"></script>

</form>