
{% extends 'base.twig.html' %}


{% block styles %}
        <link rel="stylesheet" href="/css/token.css">
        <link rel="stylesheet" href="/css/style_student_dashboard.css">
        <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block content %}
  <main class="compte-page">

    <section class="top-section">


        <div class="account-card dashboard-student-card">
            <h2>Mon Compte</h2>

            <form class="account-form" method="POST" action="/dashboard/updateinfo" >
                <div class="form-row">
                    <div class="form-group">
                        <label>Prénom</label>
                        <input type="text" name='prenom' placeholder="{{user.prenom}}">
                    </div>

                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" name="nom" placeholder="{{user.nom}}">
                    </div>

                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="{{user.email}}">
                </div>
                <br>
                <br>

                <button class="btn-primary">Enregistrer</button>
            </form>
        </div>


        <div class="candidatures-card dashboard-student-card">
            <h2>Mes Candidatures</h2>

            <div class="candidature-list">
                {% for candidature in candidatures %}
                <a href="/offre/{{candidature.id_offre}}" class="candidature-link">
                    <div class="candidature-item">
                    <h4>{{candidature.titre}}</h4>
                    <p>{{candidature.description_carte}}</p>
                    </div>
                </a>
                {% endfor %}
                
            </div>
        </div>

        

    </section>


    <section class="wishlist-section">

        <h2>Ma Wish-Liste</h2>

            <div class="carousel-container">

                {% if wishliste|length == 0 %}
                    <p>NO DATA FOUND</p>
                {% else %}
                    {% for offre in wishliste %}
                    <a href="/offre/{{offre.id_offre}}" class="card-link">
                    <article class="stage-card card" >
                            <div class="stage-card-header">
                                <span class="icon">+</span>
                            </div>
                            <div class="stage-card-body">
                                <h3>{{offre.titre}}</h3>
                                <p class="company">{{offre.nom}}</p>
                                <p class="description">
                                    {{offre.description_carte}}
                                </p>
                            </div>
                        </article>
                    </a>
                    {% endfor %}
                {% endif %}                        


                

            </div>
    </section>


    <section class="danger-zone">
        <form method="POST" action="/dashboard/deleteaccount">
            <label><h2>Supprimer le compte</h2></label>
            <button class="delete-account-btn">Supprimer le compte</button>
        </form>

    </section>

</main>
{% endblock %}